.sf-xfont40 {
    font-size: 20px;
  }
  [data-dpr="2"] .sf-xfont40 {
    font-size: 40px;
  }
  [data-dpr="3"] .sf-xfont40 {
    font-size: 60px;
  }
  
  .sf-article-con {
    color: #333333;
    padding: 0 0.4rem;
  }
  .sf-article-con .sf-article-title {
    padding: 0.32rem 0 0.66666667rem;
    word-wrap: break-word;
    word-break: normal;
  }
  .sf-article-con .sf-article-author {
    color: #CCCCCC;
    font-size: 13px;
    padding-bottom: 0.53333333rem;
  }
  [data-dpr="2"] .sf-article-con .sf-article-author {
    font-size: 26px;
  }
  [data-dpr="3"] .sf-article-con .sf-article-author {
    font-size: 39px;
  }
  .sf-article-con .sf-article-author .time {
    float: right;
  }
  .sf-article-con .sf-article-logo {
    width: 100%;
    margin-bottom: 0.78666667rem;
  }
  .sf-article-con .sf-article-content {
    font-size: 16px;
    padding-bottom: 0.4rem;
    word-wrap: break-word;
    word-break: normal;
  }
  [data-dpr="2"] .sf-article-con .sf-article-content {
    font-size: 32px;
  }
  [data-dpr="3"] .sf-article-con .sf-article-content {
    font-size: 48px;
  }
.sf-article-con .sf-article-content img{
  width: 100%;
}
.sf-article-con .sf-article-commentary {
    display: flex;
    display: -webkit-flex;
    text-align: right;
    color: #B7B7B7;
    font-size: 12px;
    padding-bottom: 0.53333333rem;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
  [data-dpr="2"] .sf-article-con .sf-article-commentary {
    font-size: 24px;
  }
  [data-dpr="3"] .sf-article-con .sf-article-commentary {
    font-size: 36px;
  }
  .sf-article-con .sf-article-commentary .look {
    width: 0.53333333rem;
    height: 0.33333333rem;
    padding-right: 0.13333333rem;
  }
  .sf-article-con .sf-article-commentary .assist {
    width: 0.45333333rem;
    height: 0.46666667rem;
    padding: 0 0.13333333rem 0 0.49333333rem;
  }
  .sf-article-con .sf-article-commentary img {
    display: inline-block;
  }
  
  .sf-article-line {
    background-color: #F6F6F6;
    height: 0.13333333rem;
  }
  
 .sf-article-comment{
   padding-bottom: 1.64rem;
 }
.sf-article-comment .sf-article-label {
  font-size: 16px;
  color: #323333;
  padding:  0.50666667rem 0 0.50666667rem 0.56rem;
  /*border-bottom: 1px solid #cccccc;*/
  /*margin-bottom: 0.66667rem;*/
}
[data-dpr="2"] .sf-article-comment .sf-article-label {
  font-size: 32px;
}
[data-dpr="3"] .sf-article-comment .sf-article-label {
  font-size: 48px;
}
.sf-article-comment li {
  padding: 0 0.41333333rem 0 0.65333333rem;
  padding-top: 0.4rem;
}
.sf-article-comment li:first-of-type {
  padding-top: 0;
}
.sf-article-comment li .sf-article-img{
  width: 1.14666667rem;
  height: 1.14666667rem;
  margin-right: 0.26666667rem;
}
.sf-article-comment li .comment-logo {
  width: 1.14666667rem;
  height: 1.14666667rem;
  border-radius: 50%;
}
.sf-article-comment li .comment-con {
  position: relative;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #F1F1F1;
}
.sf-article-comment li .comment-con .user-name {
  font-size: 12px;
  color: #999999;
  padding-bottom: 0.50666667rem;
}
[data-dpr="2"] .sf-article-comment li .comment-con .user-name {
  font-size: 24px;
}
[data-dpr="3"] .sf-article-comment li .comment-con .user-name {
  font-size: 36px;
}
.sf-article-comment li .comment-con .comment-content {
  color: #4C4949;
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 0.2rem;
  word-wrap: break-word;
  word-break: normal;
}
[data-dpr="2"] .sf-article-comment li .comment-con .comment-content {
  font-size: 30px;
}
[data-dpr="3"] .sf-article-comment li .comment-con .comment-content {
  font-size: 45px;
}
.sf-article-comment li .comment-con .date {
  display: inline-block;
  color: #333333;
  font-size: 12px;
  line-height: 0.61333333rem;
  padding-right: 0.4rem;
}
[data-dpr="2"] .sf-article-comment li .comment-con .date {
  font-size: 24px;
}
[data-dpr="3"] .sf-article-comment li .comment-con .date {
  font-size: 36px;
}
.sf-article-comment li .comment-con .has-reply {
  display: inline-block;
  color: #333333;
  font-size: 12px;
  width: 1.33333333rem;
  padding: 0.1rem 0rem;
  text-align: center;
  background-color: #F1F1F1;
  border-radius: 0.30666667rem;
}
[data-dpr="2"] .sf-article-comment li .comment-con .has-reply {
  font-size: 24px;
}
[data-dpr="3"] .sf-article-comment li .comment-con .has-reply {
  font-size: 36px;
}
.sf-article-comment li .comment-con .reply {
  display: inline-block;
  color: #333333;
  font-size: 12px;
  line-height: 0.61333333rem;
}
[data-dpr="2"] .sf-article-comment li .comment-con .reply {
  font-size: 24px;
}
[data-dpr="3"] .sf-article-comment li .comment-con .reply {
  font-size: 36px;
}
.sf-article-comment li .assist-num {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  display: -webkit-flex;
}
.sf-article-comment li .assist-num span {
  color: #989595;
  font-size: 12px;
  padding-left: 0.13333333rem;
}
[data-dpr="2"] .sf-article-comment li .assist-num span {
  font-size: 24px;
}
[data-dpr="3"] .sf-article-comment li .assist-num span {
  font-size: 36px;
}
.sf-article-comment li .assist-num img {
  width: 0.45rem;
  height: 0.45rem;
  margin-top: -3px;
  display: inline-block;
}
.sf-article-comment li .del {
  position: absolute;
  right: 0;
  bottom:0.46667rem;
  font-size: 12px;
  color: #333333;
}
[data-dpr="2"] .sf-article-comment li .del {
  font-size: 24px;
}
[data-dpr="3"] .sf-article-comment li .del {
  font-size: 36px;
}
  
  .sf-index-top{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    background: #fff;
    z-index: 99;
    height: 1.64rem;
    border-top:1px solid #D9D9DA;
    padding: 0 0.4rem;
}
.sf-index-logo{
}
.sf-index-logo img{
    height: 1.2rem;
    width: 1.2rem;
    padding-top:0.22666667rem;
}
.sf-index-logo-font{
    margin-left:0.13333rem;
}
.sf-index-logo-font img{
    width: 2.90667rem;
    height: 0.58667rem;
    padding-top: 0.50666667rem;
}
.sf-index-btn {
    margin-top:  0.36rem;
    font-size: 15px;
}
[data-dpr="2"] .sf-index-btn{
    font-size: 30px;
}
[data-dpr="3"] .sf-index-btn {
    font-size: 45px;
}
.sf-index-btn span {
    width: 2.61333333rem;
    height: 0.90666667rem;
    line-height:0.90666667rem;
    border-radius: 0.13333333rem;
    border: 1px solid  #c19c75;
    display: inline-block;
    color: #c19c75;
}

.sf-wrap{
  position: absolute;
  z-index: 1;
  top: 3rem;
  bottom: 0;
  /*overflow-x: hidden;*/
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
[data-dpr="2"] .sf-wrap {
  font-size: 30px;
}
[data-dpr="3"] .sf-wrap {
  font-size: 45px;
}.sf-wrap .sf-img{
   height: 2.93333rem;
   width: auto;
 }
.sf-wrap .sf-span{
  color: #666666;
}
.sf-dianzan1{
  /*line-height: 0.4;*/
  font-size:36px;
}
[data-dpr="2"] .sf-dianzan1{
  font-size: 36px;
}
[data-dpr="3"] .sf-dianzan1{
  font-size: 72px;
}
.sf-index-empty{
  font-size: 12px;
  color: #999999;
  margin:  0.13333rem 0 0.26667rem;
}
[data-dpr="2"] .sf-index-empty {
  font-size: 24px;
}
[data-dpr="3"] .sf-index-empty{
  font-size: 36px;
}
.sf-index-like{width:0.8rem;height: 0.8rem;display: inline-block;}
.sf-ask-attach{
  font-size: 12px;
}
[data-dpr="2"] .sf-ask-attach {
  font-size: 24px;
}
[data-dpr="3"] .sf-ask-attach{
  font-size: 36px;
}