@charset "utf-8";
/* 对于基础CSS类库的代码重构必须要兼容auicss样式和apicloud样式，以及其他一些重要第三方组件的样式消除兼容性问题。 */
html *{-webkit-tap-highlight-color: rgba(0,0,0,0);}
form,fieldset,textarea,p,th,td {padding:0px; margin:0px;}
fieldset {border: 0px solid #c0c0c0;}
textarea,input{
    -webkit-user-select: text;
    border:none;
}

address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal;}
ul,li,dl,dt,ol,u,dd { list-style:none; padding:0px; margin:0px;}
caption,th{text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight:normal; margin:0px; padding:0px; }
q:before, q:after {content:'';}
body{-webkit-text-size-adjust:none;font-family:Arial,Helvetica,sans-serif;font-family:"微软雅黑"; margin:0px; padding:0px; color:rgb(45, 45, 45);
    background-color: #ffffff;height: 100%;
}
a{ color:rgb(45, 45, 45); text-decoration:none;}
a:hover,a:active{ text-decoration:none;}


/*解决ios,安卓 兼容性问题*/
input,form,select,textarea,button{border-radius: 0px;-webkit-appearance:none;padding: 0;outline: none;margin: 0;background-color: transparent;}
img {border: 0 none;font-size: 0;display: block;vertical-align:middle;}

/*注意:在用xbox PC端下布局时在火狐浏览器下如果用到此ＭＳＰゴシック字体，*/
/*必须要在字体后面加上"ＭＳＰゴシック" !important 调整优先级*/

/*布局公共CSS类*/
.xbox
{
    /* Webkit: collapse white-space between units 去掉IE10以下布局都不可以用*/
    letter-spacing: -0.31em;
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}
.xbox-1,.xbox-1-2,.xbox-1-3,.xbox-2-3,.xbox-1-4,.xbox-3-4,.xbox-1-5,.xbox-2-5,.xbox-3-5,.xbox-4-5,.xbox-1-6,.xbox-5-6,
.xbox-11-24,.xbox-13-24,.xbox-7-12,.xbox-5-12,.xbox-1-8,.xbox-3-8,.xbox-5-8,.xbox-7-8,.xbox-1-24,.xbox-1-12,.xbox-7-24
{display: inline-block;*display: inline;zoom: 1;letter-spacing: normal;word-spacing: normal;
    vertical-align: top;/*设置元素的垂直对齐文本的顶部 */
    text-rendering: auto;}
.xbox-1{width: 100%;}
.xbox-1-2{width: 50%;*width: 49.9690%;}
.xbox-1-3{width: 33.3333%;*width: 33.3023%;}
.xbox-2-3{width: 66.6667%;*width: 66.6357%;}
.xbox-1-4{width: 25%;*width: 24.9690%;}
.xbox-3-4{width: 75%;*width: 74.9690%;}
.xbox-1-5{width: 20%;*width: 19.9690%;}
.xbox-2-5{width: 40%;*width: 39.9690%;}
.xbox-3-5{width: 60%;*width: 59.9690%;}
.xbox-4-5{ width: 80%;*width: 79.9690%;}
.xbox-1-6{width: 16.6667%;*width: 16.6357%;}
.xbox-5-6{ width: 83.3333%;*width: 83.3023%;}
.xbox-11-24 {width: 45.8333%;*width: 45.8023%;}
.xbox-13-24 {width: 54.1667%;*width: 54.1357%;}
.xbox-5-12{width: 41.6667%;*width: 41.6357%;}
.xbox-7-12{width: 58.3333%;*width: 58.3023%;}
.xbox-1-8{width: 12.5000%;*width: 12.4690%;}
.xbox-3-8{width: 37.5000%;*width: 37.4690%;}
.xbox-7-8{width: 87.5000%;*width: 87.4690%;}
.xbox-5-8{width: 62.5000%;*width: 62.4690%;}
.xbox-1-24 {width: 4.1667%;*width: 4.1357%;}
.xbox-1-12{width: 8.3333%;*width: 8.3023%;}
.xbox-7-24{ width: 29.1667%;*width: 29.1357%;}

/*文本超出省略*/
.textoverflow {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
/*删除线*/
.td{text-decoration: line-through;}
.ccui-xhide{display: none}
.ccui-xshow{display: block}
.tc{text-align: center;}
.tr{text-align:right;}
.lb{display:inline-block;}
.tl{text-align:left;}
.fl{float: left}
.fr{float: right}
.fb{font-weight: bold}
.mm{margin: auto 0}
.mc{margin: 0 auto }
.sf-xwrap{
    position: absolute;
    z-index: 1;
    top:0;
    bottom: 0;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    width: 100%;
}
/*腾讯移动端下1px问题解决方法*/
.border-1px {
    position: relative;
}
.border-1px:after {
    position: absolute;
    content: '';
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

 .left {
     position: absolute;
     top: 0;
     left: 0;
     width: 200px;
     height: 500px;
     background: red;
     color: #fff;
     font-size: 20px;
 }
.right {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 500px;
    background: red;
    color: #fff;
    font-size: 20px;
}
.content {
    /* padding: 0 200px; */
    margin: 0 200px;
    height: 500px;
    background: blue;
    font-size: 20px;
    color: #fff;
}
/*纵向(垂直)弹性盒子*/
.sf-xrow-box{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
    height: 100%;
  }
  /*横向(水平)弹性盒子*/
  .sf-xcol-box{
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row;
    flex-flow: row;
  }
  .sf-xflex{
    flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
  }
  .sf-subject{
      color: #c19c75;
  }
.sf-mr30{margin-right: 0.4rem;}

  /* //引导模态窗 */
  .common-window {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.common-window-box {
    background: #fff;
    margin: auto;
    width: 70%;
    border-radius: 0.06667rem;
    z-index: 1001;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/* .common-window-box img {
    width: 17.5px;
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
} */

.common-window-box .title {
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    text-align: center;
    font-size: 8px;
    color: #2e2e2e;
}

  [data-dpr="2"] .common-window-box .title {
    font-size: 16px;
  }
  [data-dpr="3"] .common-window-box .title {
    font-size: 24px;
  }

  .guide-img {
    background-color: rgba(0, 0, 0, .7);
}


.guide-text{
    text-align: center;
    color: #fff; 
    top: 4.8rem;
    position: absolute; 
    left: 0;
    width: 100%;
    font-size: 18px;
}


[data-dpr="2"] .guide-text {
    font-size: 36px;
  }
  [data-dpr="3"] .guide-text {
    font-size: 48px;
  }


.jiantou {
    font-size: 70px;
    color: #fff;
    right: 0.86667rem;
    top: 1.86667rem;
    position: absolute;
}
  [data-dpr="2"] .jiantou {
    font-size: 140px;
  }
  [data-dpr="3"] .jiantou {
    font-size: 210px;
  }