$baseFontSize :75;
@function px2rem($px) {
  @return $px/$baseFontSize * 1rem;
}
@mixin font-size($font-size) {
  font-size: $font-size / 2 * 1px;

  [data-dpr="2"] & {
    font-size: $font-size * 1px;
  }

  [data-dpr="3"] & {
    font-size: $font-size / 2 * 3 * 1px;
  }
}

@mixin border($color,$borderRadius,$borderWidth,$zIndex) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border-style:solid;
    border-color:$color;
    border-width:$borderWidth;
    border-radius:$borderRadius;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: $zIndex;
    pointer-events: none;
  }
}

.ccui-xfont24{@include font-size(24);}
.ccui-xfont28{@include font-size(28);}
.ccui-xfont32{@include font-size(32);}
.ccui-xfont36{@include font-size(36);}
.ccui-xfont48{@include font-size(48);}

.pt5{padding-top: px2rem(10)}
.pl5{padding-left: px2rem(10)}
.pr5{padding-right: px2rem(10)}
.pb5{padding-bottom: px2rem(10)}
.pl10{padding-left: px2rem(20)}
.pr10{padding-right: px2rem(20)}
.pr15{padding-right: px2rem(30)}
.pl15{padding-left: px2rem(30)}
.pt10{padding-top: px2rem(20)}
.pb10{padding-bottom: px2rem(20)}
.ml10{margin-left: px2rem(20)}
.mt5{margin-top: px2rem(10)}
.mt10{margin-top: px2rem(20)}
.mt20{margin-top: px2rem(40)}
.ml5{margin-left: px2rem(10)}
.mr5{margin-right: px2rem(10)}
.mr10{margin-right: px2rem(20)}

.ccui-xhide{display: none}
.ccui-xshow{display: block}

.ccui-xwrap{
  /* 绝对定位，进行内部滚动 */
  position: absolute;
  z-index: 1;
  top: px2rem(90);
  bottom: 0;
  overflow-x: hidden;
  /* 增加该属性，可以增加弹性 */
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 100%;
  -webkit-box-shadow: 0 1px 6px #ccc;
  box-shadow: 0 1px 6px #ccc;
}
.ccui-xwrap .ccui-xcontent {
  height: 100%;
  width: 100%;
  position: absolute;
}
/*纵向(垂直)弹性盒子*/
.ccui-xrow-box{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
  height: 100%;
}
/*横向(水平)弹性盒子*/
.ccui-xcol-box{
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
  flex-flow: row;
}
.ccui-xflex{
  flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
}